.addButton {
    border-radius: 16px;
} 

div.c {
    padding-bottom: 25px;
    font-size: 4vw;
  }

  div.a {
    display: inline-block;
    width: 60%;
    height: 60%;
  }

  .btn-create {
    background: #778899;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-decoration: none
  }

#one {
  float:left; 
  text-align: center;
  font-size: 3vw;
  color: #778899;
}
@media screen and (max-width: 400px){
  #one {
    float: none;
    margin-right: 0;
    width: auto;
    height: 30%;
    min-height: 120px;
    border: 0;
    border-bottom: 2px solid #000;
}
}

#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px dashed #ccc;
  min-height:180px;
  font-size: 1.2vw;
  width: 80%;
  height: 80%;
  padding: 2vw 0;
  margin-left: 10%;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  height: 1.3em; 
  white-space: nowrap;
}

.linkToFaucet{
  font-size: 30px !important;
  color:#778899;
}

.cut-text-poll { 
  text-overflow: ellipsis;
  overflow: hidden; 
  padding-left: 14%;
  width: 70%; 
  height: 1.3em; 
  white-space: nowrap;
  font-size: 1rem;
}
.spinningInfo{
  font-size: 1rem !important;
  padding-left: 1%;
}

.backLink{
  color:#696969;
  padding-top:2%;
  position: absolute;
  left: 47.5%;
}

.MuiCardHeader-title{
  font-size:1rem !important;
}

.MuiTypography-body1{
  font-size:0.7rem !important;
}

#cardButton{
  font-size:0.57rem !important;
}

#selectButton{
  height:1.2rem !important;
}