.addButton {
    border-radius: 16px;
} 

div.c {
    padding-bottom: 25px;
    font-size: 4vw;
  }

  div.a {
    display: inline-block;
    width: 60%;
    height: 60%;
  }

  .btn-create {
    background: #0D41E1;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: white;
    font-weight: bold;
    text-decoration: none
  }

#one {
  float:left; 
  text-align: center;
  font-size: 5vw;
  color: lightblue;
  border:2px solid #ccc;
}
#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px dashed #ccc;
  min-height:170px;
  font-size: 3vw;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}